<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.1/src/styles/animation.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.1/src/styles/base.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.1/src/styles/layout.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.1/src/styles/media.min.css">
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
  window.cookieconsent.initialise({
    container: document.getElementById("cookieconsent"),
    palette:{
     popup: {background: "#51afcd", text: "#fff"},
     button: {background: "#ffe41a", text: "#1c1c1c"},
    },
    revokable: true,
    onStatusChange: function(status) {
     console.log(this.hasConsented() ?
      'enable cookies' : 'disable cookies');
    },
    "position": "bottom",
    "theme": "block",
    "domain": "https://covid.go-for.org/",
    "secure": true,
    "content": {
      "header": 'Cookies used on the website!',
      "message": 'Deneyiminizi iyileştirmek için çerezleri kullanıyoruz. Bu siteyi' +
              ' kullanmaya devam ettiğiniz sürece çerezlerin kullanılacağını kabul etmiş sayılırsınız.',
      "dismiss": 'Tamam',
      "allow": 'Çerezlere izin ver',
      "deny": 'Reddet',
      "link": 'Daha fazlasını öğrenin',
      "href": '{% url "django.contrib.flatpages.views.flatpage" url="privacy_policy" %}',
      "close": '&#x274c;',
      "policy": 'Çerez Politikası',
      "target": '_blank',
      }
   });

</script>
