{% load leaflet_tags l10n %}
{% load static %}

<script src="{% static "js/Path.Drag.js" %}"></script>
<style type="text/css">{% block map_css %}
    {% if map_width and map_height %}#{{ id_map }} { width: {{ map_width|unlocalize }}; height: {{ map_height|unlocalize }}; }{% endif %}
    {% if not display_raw %}#{{ id_css }} { display: none; }{% endif %}
    {% endblock map_css %}
</style>

<script type="text/javascript">
    {% block vars %}var {{ module }} = {};
    {{ module }}.fieldid = '{{ id_css }}';
    {{ module }}.modifiable = {{ modifiable|yesno:"true,false" }};
    {{ module }}.geom_type = '{{ geom_type }}';
    {{ module }}.srid = {{ map_srid|unlocalize }};
    {% endblock vars %}




    function {{ id_map_callback }}(map, options) {
        {{ module }}.store_class = {{ field_store_class }};
        var drawn_marker = (new {{ geometry_field_class}}({{ module }})).addTo(map);

        {# DEV CUSTOMIZATIONS #}
        var redIcon = new L.Icon({
          iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        let lc =  L.control.locate( {watch:true,"icon": "fas fa-crosshairs", locateOptions:{enableHighAccuracy: true}}).addTo(map);

        // Removes marker added by Leaflet Draw. Marker reached by custom added "description"
        function removeAddedLocation () {
          map.eachLayer(function (layer) {
            if (layer.description == "custom_location") {
                console.log(layer);
                map.removeLayer(layer);
            }
          }
        )};

        // Executed when user location retrieved
        function onLocationFound(e) {
          let radius = e.accuracy / 2;
          // Adds a custom marker
          let location_layer = L.layerGroup();
          location_layer.description = "location_layer";
          let location_marker = L.marker(e.latlng, {icon: redIcon,}, draggable=true).addTo(location_layer)
            .bindPopup(Math.floor(radius).toFixed(2) + " metre kesinlikle buradasınız.").openPopup();
          L.circle(e.latlng, radius).addTo(location_layer);
          location_layer.addTo(map);
          let location_field_json = {
              "type": "Point",
              "coordinates": [e.latlng.lng, e.latlng.lat]
          };
          console.log(location_field_json);
          // Writes the location of custom marker to form field
          $("textarea#id_location")[0].value = String(JSON.stringify(location_field_json));
          // Removes if there is any marker added by Leaflet Draw
          removeAddedLocation();
        }


        // Executes when user clicks geolocation button
        $("#use_location").click(function() {
          map.on('locationfound', onLocationFound);
          // There is the bug of infinite markers getting added by onLocationFound, so you set watch: true to false - 22.5.2020
          map.locate({setView: true, maxZoom: 15});
          lc.start();
        });

        // Custom Leaflet Draw button
        $("#use_custom_location").click(function () {
           $(".leaflet-draw-draw-marker")[0].click();
           map.stopLocate();
        });

        // For removing all geolocation related stuff
        function removeLocation () {
          lc.stop();
          map.eachLayer(function (layer) {
            if (layer.description == "location_layer") {
              map.removeLayer(layer);
            };
            // Reset form field text
            $("textarea#id_location")[0].value = "";
          });
        }



        // When user adds marker by himself
        map.on(L.Draw.Event.CREATED, function (e) {
            // Reset geolocation
            removeLocation();
            layer = e.layer;
            // Assign custom description for accessing this layer later on
            layer.description = "custom_location";

            created_marker_latlng = layer.getLatLng();
            let location_field_json = {
                "type": "Point",
                "coordinates": [created_marker_latlng.lng, created_marker_latlng.lat]
            };
            // Fill marker's lat lng to form field
            $("textarea#id_location")[0].value = String(JSON.stringify(location_field_json));

        });
        {# END DEV CUSTOM #}
        {% block callback %}{% endblock callback %}
    };


    {% if target_map %}
        window.addEventListener('map:init', function (e) {
            var target_map = e.detail.map;
            target_map.on('map:loadfield', function (me) {
                if (me.fieldid == 'id_{{ target_map }}') {
                    setTimeout(function () {
                        {{ id_map_callback }}(target_map, e.detail.options);
                    }, 0);
                }
            });
        }, false);
    {% endif %}
</script>

{% if not target_map %}
{% block map %}
    {% leaflet_map id_map callback=id_map_callback loadevent=loadevent settings_overrides=settings_overrides %}
{% endblock map %}
{% endif %}

{% if display_raw %}
<p>Draw on map or paste a <a
    href="http://geojsonlint.com/"
    title="Validate your GeoJSON Geometry at GeoJSONLint.com in a new window"
    target="_blank"
    rel="nofollow">valid GeoJSON Geometry</a>:</p>
{% endif %}
<textarea id="{{ id_css }}" class="required django-leaflet-raw-textarea" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>
