{% load bootstrap4 %}
<form method="post" action="">
  {% csrf_token %}
  <div>
    {{ form.media }}
  </div>
 <div class="modal-header">
    <h5 class="modal-title">Yeni Problem Çeşidi Öner</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group {% if form.name.errors %} invalid{% endif %}">
      {% bootstrap_field form.name %}
    </div>
    <div class="form-group {% if form.thematic_field.errors %} invalid{% endif %}">
      <small class="text-muted">Önerdiğiniz problem çeşidinin hangi tematik alanlarla ilişkili olduğunu düşünüyorsunuz?</small>
      {% bootstrap_field form.thematic_field %}
    </div>

{#      <div class="form-group{% if field.errors %} invalid{% endif %}">#}
{#        {% comment %}<label for="{{ field.id_for_label }}">{{ field.label }}</label>{% endcomment %}#}
{#        {% bootstrap_field field %}#}
{#      </div>#}

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
    <button type="button" class="submit-btn btn btn-primary">Gönder</button>
  </div>

</form>

