{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

{% include "problem_map/partials/form_errors.html" %}

<div class="container">
  <div>{{ form.media }}</div>
  <div class="row">
    <div class="col">
      <h3 class="my-3">Problem Çeşidi Öner</h3>
        <form method="POST" class="form">
          {% csrf_token %}
          {% bootstrap_field form.name %}
          {% bootstrap_field form.thematic_field %}
          {% bootstrap_field form.captcha %}
          {% buttons %}
            <button type="submit" class="btn btn-outline-primary">Gönder</button>
          {% endbuttons %}
        </form>
    </div>
  </div>
</div>


{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock %}

{% block js %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock %}
