{% extends "base.html" %}
{% load bootstrap4 %}
{% load leaflet_tags %}


{% block content %}
{#  LEAFLET IMPORTS#}
  <div>
  {% leaflet_js plugins="forms, locate" %}
  {% leaflet_css plugins="forms, locate" %}
  </div>

  <form method="POST" class="form">
    {% csrf_token %}

    <div>
      {{ address_form.media.css }}
      {{ form.media }}
    </div>

    {% include "problem_map/partials/form_errors.html" %}

    <div class="container my-4">
      <h3>Problem Ekle</h3>
    </div>
    <div class="container py-2 mb-2 border border-primary rounded">
      <div class="row">
        <div class="col-md-12">
          <h4 class="my-3">Probleminizi açıklayın</h4>
        </div>
      </div>
      <div class="">
        {% bootstrap_field form.related_problem_type %}
{% comment %}
         <a href="{% url "problem_map:problem-type-suggest" %}" target="_blank">Eklediğiniz problem listedekilerin hiçbirine benzemiyor mu? Bize öneride bulunun.</a>
{% endcomment %}
        <button class="suggest_problem_type_modal btn btn-primary" type="button" name="button">Problem Çeşidi Öner</button>
        <script type="text/javascript">
        $(document).ready(function() {

            $(".suggest_problem_type_modal").modalForm({
                formURL: "{% url 'problem_map:problem-type-suggest-modal' %}"
            });

        });
        </script>
        <hr/>
        {% bootstrap_field form.name %}
        {% bootstrap_field form.description %}
        {% bootstrap_field form.occurrence_date %}

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" id="locationTabLink" data-toggle="tab" href="#locationTab" aria-controls="locationTab" aria-selected="true">
              Konum kullan
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="addressTabLink" data-toggle="tab" href="#addressTab" aria-controls="addressTab" aria-selected="false">
              İl/İlçe seç
            </a>
          </li>
        </ul>
        <div class="tab-content" id="locationTabContent">
          <div class="tab-pane fade show active border p-2 border-radius border-top-0" id="locationTab" role="tabpanel" aria-labelledby="locationTabLink">
            <div class="row">
              <div class="col">
                <a id="use_custom_location" class="btn btn-outline-warning d-block">Haritadan seç</a>
              </div>
              <div class="col">
                <a class="btn btn-outline-success d-block" id="use_location">Güncel konum</a>
              </div>
            </div>
            {% bootstrap_field form.location %}
          </div>
          <div class="tab-pane fade border p-2 border-radius border-top-0" id="addressTab" role="tabpanel" aria-labelledby="addressTabLink">
            <div class="row">
              <div class="col-md-6">
                {% bootstrap_field address_form.province %}
              </div>
              <div class="col-md-6">
                {% bootstrap_field address_form.district %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="my-3">Siz</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% bootstrap_field related_person_form.could_contact %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {% bootstrap_field related_person_form.first_name %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field related_person_form.last_name %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {% bootstrap_field related_person_form.email %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field related_person_form.phone_number %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
            {% bootstrap_field form.privacy_policy %}
        </div>
      </div>
      {% buttons %}
        <button type="submit" class="btn btn-outline-primary">Gönder</button>
      {% endbuttons %}
    </div>

  </form>
{% endblock %}

{% block javascript %}
  {{ block.super }}

{% endblock %}

{% block modal %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
{% endblock %}
